.mobileregister{
  display:flex;
  width: 70%;
  justify-content:end;
  margin-left: 25%;
  padding-bottom: 40px;
  margin-bottom: 40px;
 height: 20rem;
  /* border:1px solid red */
 }

 
 .mobileregister .parent1{
   width: 47%;
   height:110%;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin:2rem 0;
   padding: 2rem;
   /* margin-bottom: 2rem; */
 }
 
 .mobileregister input{
   width: 70%;
   margin: auto;
   margin-top: 1.5rem;
   padding: 10px;

 }
 .mobileregister h4{
   font-weight:bold ;
 }

 .p{
  /* background-color: gainsboro; */
  /* padding: 1px; */
  text-align: left;
  margin-left: 15%;
  font-size: 20px;
 }

 
.btnx{
  background-color: #e42529;
  color: white;
  border: 0px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 0px;
  width: 80%;
 
}
.btnx:hover{
  background-color: #003380;
}

@media all and (min-width:320px) and (max-width:480px){
  .mobileregister{
    display: block;
    width: 70%;
    margin: auto;
    height: 30rem;
   
   }
   .mobileregister .parent1{
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:2rem 0;
    height: 18rem;
  
  }
}

@media all and (min-width:481px) and (max-width:780px){
  .mobileregister{
    display:block;
    width: 80%;
    margin: auto;
    height: 60rem;
  
   }
   .mobileregister .parent1{
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:2rem 0;
    height: 18rem;
  
  }

  
}
@media all and (min-width:781px) and (max-width:1000px){
  .mobileregister{
    display:block;
    width: 70%;
   margin: auto;
   height: 20rem;

   }
   .mobileregister .parent1{
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:2rem 0;
    height: 18rem;
  
  }
}

@media all and (min-width:100px) and (max-width:319px){
  .mobileregister{
    display:block;
    width: 70%;
   margin: auto;

   }
   .mobileregister .parent1{
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:2rem 0;
    height: 18rem;
  
  }
}

